<h1>new submission</h1>

<%= form_tag notes_path do %>
  Title
  <input type="text" name="title" class="form-control title-field">
  Content
  <textarea name="content" class="form-control content-field"></textarea>
  <input type="submit" value="submission" class="btn primary-btn">
<% end %>
